body {
  background: #ddd;
}

#game {
  margin: auto;
  width: 500px;
  height: 600px;
  position: relative;
  background: linear-gradient(
    to bottom,
    #6ec6ff 0%,
    #9ad9ff 40%,
    #ccecff 70%,
    #ffffff 100%
  );
  border: 10px solid black;
  overflow: hidden;
}

#scene {
  position: relative;
  width: 500px;
  height: 600px;
  left: 0;
  top: 0;
  perspective: 600px;
  perspective-origin: 50% 0%;
}

#road {
  position: absolute;
  width: 400px;
  margin-left: -200px;
  height: 2500px;
  left: 50%;
  bottom: 0;
  transform-origin: bottom center;
  transform: rotateX(60deg); /* High angle for flat road */
  background: url('asphalt.png') repeat-y;
  background-size: contain;
}

#runner {
  width: 184px;
  height: 244px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -92px;
  margin-top: -122px;
  background: url('runner.png') no-repeat;
  transform-origin: center center;
  animation: run 0.3s steps(4) infinite;
}

@keyframes run {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -736px 0;
  }
}

#cube-blueprint,
#coin-blueprint {
  display: none;
}

.cube {
  position: absolute;
  left: 50%;
  top: 0;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  transform-style: preserve-3d;
  transform: translateX(-50%) translateZ(20px);
}

.cube .face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff3366;
  border: 1px solid #930025;
  box-sizing: border-box;
}

.cube .front {
  transform: translateZ(15px);
}
.cube .back {
  transform: rotateY(180deg) translateZ(15px);
}

.cube .right {
  transform: rotateY(90deg) translateZ(15px);
}
.cube .left {
  transform: rotateY(-90deg) translateZ(15px);
}

.cube .top {
  transform: rotateX(90deg) translateZ(15px);
}
.cube .bottom {
  transform: rotateX(-90deg) translateZ(15px);
}

.coin {
  position: absolute;
  left: 50%;
  top: 0;
  width: 26px;
  height: 26px;
  margin-left: -13px;
  margin-top: -13px;
  /* animation: spin 2s linear infinite; */
  transform-origin: center center;
}

.coin .face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 30% 30%, gold 40%, goldenrod 100%);
  border: 2px solid goldenrod;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  backface-visibility: hidden;
}

.coin .face.back {
  transform: rotateY(180deg);
  background: radial-gradient(circle at 30% 30%, goldenrod 40%, #c69800 100%);
  border-color: rgb(165, 113, 0);
}

@keyframes spin {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
