body {
  background: #ddd;
}

#scene {
  margin: auto;
  width: 500px;
  height: 600px;
  position: relative;
  perspective: 600px;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    #6ec6ff 0%,
    #9ad9ff 40%,
    #ccecff 70%,
    #ffffff 100%
  );
  border: 10px solid black;
}

#road {
  width: 124px;
  height: 1000px;
  margin: 0 auto;
  background: url('asphalt.png') repeat-y;
  background-size: contain;
  transform-origin: top center;
  transform: rotateX(50deg);
  transform-style: preserve-3d;
}

#runner {
  width: 184px;
  height: 244px;
  position: absolute;
  left: 50%;
  margin-left: -92px;
  bottom: 20px;
  background: url('runner.png') no-repeat;

  transform-origin: bottom center;
  transform: translateX(0) scale(0.5);
  transform-style: preserve-3d;
  animation: run 0.3s steps(4) infinite;
}

@keyframes run {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -736px 0;
  }
}

#cube-blueprint,
#coin-blueprint {
  display: none;
}

.cube {
  position: absolute;
  left: 50%;
  top: 400px;
  width: 30px;
  height: 30px;
  transform-style: preserve-3d;
  transform: translateX(-50%) translateZ(20px);
}

.cube .face {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ff3366;
  opacity: 0.7;
  border: 1px solid #930025;
  box-sizing: border-box;
}

.cube .front {
  transform: translateZ(15px);
}
.cube .back {
  transform: rotateY(180deg) translateZ(15px);
}

.cube .right {
  transform: rotateY(90deg) translateZ(15px);
}
.cube .left {
  transform: rotateY(-90deg) translateZ(15px);
}

.cube .top {
  transform: rotateX(90deg) translateZ(15px);
}
.cube .bottom {
  transform: rotateX(-90deg) translateZ(15px);
}

.coin {
  width: 80px;
  height: 80px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: spin 2s linear infinite;
  margin: 100px auto;
}

.coin {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 200px;
  transform-origin: center center;
  transform: translateZ(-25px);
  animation: spin 1s linear infinite;
}

.coin .face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, gold 40%, goldenrod 100%);
  border: 3px solid goldenrod;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  backface-visibility: hidden;
}

.coin .face.back {
  transform: rotateY(180deg);
  background: radial-gradient(circle at 30% 30%, goldenrod 40%, #c69800 100%);
  border-color: rgb(165, 113, 0);
}

@keyframes spin {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
