body {
  padding: 0;
  margin: 0;
  background: #ddd;
}

.game {
  margin: auto;
  width: 500px;
  height: 600px;
  margin-top: 10px;
  position: relative;
  background: linear-gradient(
    to bottom,
    #6ec6ff 0%,
    #9ad9ff 40%,
    #ccecff 70%,
    #ffffff 100%
  );
  border: 10px solid black;
  overflow: hidden;
  user-select: none;
}

.score,
.level {
  font-family: Orbitron, monospace;
  position: absolute;
  top: 10px;
  font-size: 24px;
}

.level {
  left: 20px;
}

.score {
  right: 20px;
  text-align: right;
}

#score,
#level {
  font-size: 36px;
}

#scene {
  position: relative;
  width: 500px;
  height: 600px;
  left: 0;
  top: 0;
  perspective: 600px;
  perspective-origin: 50% 0%;
  transform-style: preserve-3d;
}

#road {
  position: absolute;
  width: 400px;
  margin-left: -200px;
  height: 2500px;
  left: 50%;
  bottom: 0;
  transform-origin: bottom center;
  transform: rotateX(60deg);
  background: url('road.png') repeat-y;
  background-size: contain;
}

#runner {
  width: 184px;
  height: 244px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -92px;
  margin-top: -122px;
  background: url('runner.png') no-repeat;
  animation: run 0.3s steps(4) infinite;
  z-index: 10;
}

#runner.dead {
  animation: death 0.8s ease-out forwards;
}

@keyframes death {
  0% {
    filter: none;
  }

  100% {
    filter: saturate(0) brightness(0.7);
  }
}

@keyframes run {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -736px 0;
  }
}

#bomb-blueprint,
#coin-blueprint {
  display: none;
}

.bomb {
  position: absolute;
  left: 50%;
  top: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-left: -18px;
  text-align: center;
  background: #ef1a4f;
  border: 1px solid #930025;
}

.bomb::after {
  content: '💣';
}

.coin {
  position: absolute;
  left: 50%;
  top: 0;
  width: 26px;
  height: 26px;
  margin-left: -13px;
  line-height: 26px;
  text-align: center;
  background: radial-gradient(circle at 30% 30%, gold 40%, goldenrod 100%);
  border: 1px solid goldenrod;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 14px;
}

.coin::after {
  content: '💰';
}
